body{
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #6582B2;
}

.blocContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

form{
    width: 400px;
    height: auto;
}

fieldset {
    background-color: #E9D6EC;
    border-color: #CC2936;
}
legend{
    color: black;
    font-weight: bold;
}

.divButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}

#submit{
    background-color: #E9D6EC;
    color: black;
    border-color: #CC2936;
}
#submit:hover{
    border-color: #F39237;
}